.item-pic
  font-size: 0
  height: 89px
  margin: 0 auto
  a
    img
      height: 89px
.wrapper
  width: 100%
  height: 600px
  overflow: hidden
  .content
    width: 100%
    li
      list-style: none
      width: 100%
      height: 100%


