.mine-nav
  height: 200px
  background: yellow
  position: relative
  width: 100%
  .am-tab-bar
    height: 300px!important
    top: 45px
    background: #ed5564
  .login-logo
    width: 100px
    height: 100px
    background: #7d3b2e
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    z-index: 100
    border-radius: 50%
    text-align: center
    .icon-denglu
      font-size: 40px
      padding-top: 5px
      display: block
      background: #4eca6c
      color: #fff
      width: 50px
      height: 50px
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto
      z-index: 100
      border-radius: 20%
    .title
      color: #ffffff
      font-size: 18px
      position: absolute
      bottom: -18px
      left: 0
      width: 100px

